@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.FrequentlyAskedQuestions>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = null;
}
<div>@Model.Value("question")</div>

<div>@Model.Value("answer") </div>

<div>@Model.Value("question1")</div>

<div>@Model.Value("answer1") </div>

<div>@Model.Value("question2")</div>

<div>@Model.Value("answer2") </div>

<div>@Model.Value("question3")</div>

<div>@Model.Value("answer3") </div>

<div>@Model.Value("question4")</div>

<div>@Model.Value("answer4") </div>

<div>@Model.Value("question5")</div>

<div>@Model.Value("answer5") </div>

<div>@Model.Value("question6")</div>

<div>@Model.Value("answer6") </div>

<div>@Model.Value("question7")</div>

<div>@Model.Value("answer7") </div>

<div>@Model.Value("question8")</div>

<div>@Model.Value("answer8") </div>


